$color-dark-grey: #323232;
$color-black: #000000;
$color-white: #ffffff;
$color-light-white: #fafafa;
$color-light-grey: #f8f8f8;
$color-medium-grey: #acacac;

$color-golden: #cfad17;

$color-green-light:  #7dd56f;
$color-green-dark: #28b487;

$color-rose-light: #f5c1db;
$color-rose-dark: #d56fa2;