@import "../../styles/form-componant.scss";

.form-container {
    width: 40%;
}

.user-profile {
    display: flex;
    flex-direction: column;
    margin: 3rem auto 0 auto;

    &__flex {
        display: flex;
        gap: 2rem;
        align-self: center;
    }

    &__icon {}
}

.btn {
    width: 30%;
}