@import "../../styles/form-componant.scss";

.form-container {
    width: 40%;
}

.user-profile {
    margin: 5rem auto 0 auto;
    width: 90%;

    &__flex {
        display: flex;
        gap: 2rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__icon {}
}

.btn {
    width: 30%;
}