<main>
    
    <div class="profile"><img src="/assets/profile.png" alt="default user">
        <h3>User Info:</h3>

        <ng-container *ngIf="!editMode">
            <!-- USERNAME -->
            <div class="flex">
                <p>Username: </p>
                <p>{{user.fullName}}</p>
            </div>

            <!-- EMAIL -->
            <div class="flex">
                <p>Email: </p>
                <p>{{user.email}}</p>
            </div>

            <button class="edit-button" (click)="toggleEditMode()">Edit</button>
        </ng-container>

        <form [formGroup]="profileForm" class="register" (ngSubmit)="profileHandler()" *ngIf="editMode">

            <!-- EDIT MODE USERNAME -->
            <p class="field field-icon">
                <label for="name"><span><i class="fas fa-user"></i></span></label>
                <input class="input-error" type="text" formControlName="name" id="name">
            </p>
            <ng-container *ngIf="profileForm.get('name')?.touched || profileForm.get('name')?.invalid"></ng-container>
            <p *ngIf="profileForm.get('name')?.errors?.['required']"
                class="error">
                Name is required!
            </p>
            <p *ngIf="profileForm.get('name')?.errors?.['minlength']"
                class="error">
                Name must be at least 2 characters long!
            </p>

            <!-- EDIT MODE EMAIL -->
            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input type="email" formControlName="email" id="email">
            </p>
            <ng-container *ngIf="profileForm.get('email')?.touched || profileForm.get('email')?.invalid">
                <p *ngIf="profileForm.get('email')?.errors?.['required']" class="error">
                    Email is required!
                </p>
                <p *ngIf="profileForm.get('email')?.errors?.['emailValidator']" class="error">
                    Email is not valid!
                </p>
            </ng-container>

            <button class="edit-button" (click)="profileHandler()">Save</button>
        </form>
    </div>

</main>