<main>
    <div class="form-container">

        <ng-container *ngIf="!editMode">
            <div class="form">

                <div class="profile"><img src="/assets/profile.png" alt="default user"></div>
                <h3>User information</h3>
                <!-- USERNAME -->
                <div class="user-profile">
                    <div class="user-profile__flex">
                        <p><span class="user-profile__icon"><i class="fas fa-user"></i></span></p>
                        <p>{{user.fullName}}</p>
                    </div>

                    <!-- EMAIL -->
                    <div class="user-profile__flex">
                        <p><span><i class="fas fa-envelope"></i></span></p>
                        <p>{{user.email}}</p>
                    </div>
                </div>

                <button class="btn btn--white" (click)="toggleEditMode()">Edit</button>
            </div>
        </ng-container>

        <form class="form" [formGroup]="profileForm" (ngSubmit)="profileHandler()" *ngIf="editMode">
            <div class="profile"><img src="/assets/profile.png" alt="default user"></div>
            <h3>Edit user information</h3>
            <!-- EDIT MODE USERNAME -->
            <p class="form__field-group">
                <label class="form__field-label" for="name"></label>
                <input class="form__field-input" type="text" formControlName="name" id="name">
            </p>
            <ng-container *ngIf="profileForm.get('name')?.touched || profileForm.get('name')?.invalid"></ng-container>
            <p class="form__field-error" *ngIf="profileForm.get('name')?.errors?.['required']">
                Name is required!
            </p>
            <p class="form__field-error" *ngIf="profileForm.get('name')?.errors?.['minlength']">
                Name must be at least 2 characters long!
            </p>

            <!-- EDIT MODE EMAIL -->
            <p class="form__field-group">
                <label class="form__field-label" for="email"></label>
                <input class="form__field-input" type="email" formControlName="email" id="email">
            </p>
            <ng-container *ngIf="profileForm.get('email')?.touched || profileForm.get('email')?.invalid">
                <p class="form__field-error" *ngIf="profileForm.get('email')?.errors?.['required']">
                    Email is required!
                </p>
                <p class="form__field-error" *ngIf="profileForm.get('email')?.errors?.['emailValidator']">
                    Email is not valid!
                </p>
            </ng-container>

            <button class="btn btn--white" (click)="profileHandler()">Save</button>
        </form>

    </div>

</main>