<!-- Use info h1 -->

<!-- username: name -->
<!-- email: email -->
<!-- bookings: number of booked tours with link to bookings page -->
<!-- tours: number of created toues with link to user tours page -->

<!-- edit button -->

<h2>User Info</h2>

<form (ngSubmit)="profileHandler()" [formGroup]="profileForm">
    <div>
        <p *ngIf="!editMode">Username: <span>{{user.fullName}}</span></p>
        <input *ngIf="editMode" type="text" formControlName="name" required>
        <p *ngIf="(profileForm.get('name')?.touched || isSubmitted) && profileForm.get('name')?.errors?.['required']">Full name is required</p>

        <p *ngIf="!editMode">Email: <span>{{user.email}}</span></p>
        <input *ngIf="editMode" type="email" formControlName="email" required>
        <ng-container *ngIf="profileForm.get('email')?.touched || isSubmitted">
            <div *ngIf="profileForm.get('email')?.errors?.['required']">Email is required</div>
            <div *ngIf="profileForm.get('email')?.errors?.['emailValidator']">Invalid email</div>
        </ng-container>

        <ng-template #edit>
            <button type="submit">Save</button>
        </ng-template>

        <ng-template #save>
            <button (click)="toggleEditMode()" type="button">Edit</button>
        </ng-template>

        <ng-container *ngTemplateOutlet="editMode ? edit : save"></ng-container>

        <!-- <button (click)="editMode ? undefined : toggleEditMode()" [type]="editMode ? 'submit' : 'button'">
            <ng-container *ngIf="editMode">Save</ng-container>
            <ng-container *ngIf="!editMode">Edit</ng-container>
        </button> -->
    </div>
</form>