<main>
    <section class="section-header">
        <div class="header__hero">
            <div class="header__hero-overlay">&nbsp;</div>
            <img class="header__hero-img" src="/assets/images/{{tour?.imageCover}}" alt="{{tour?.name}}">
        </div>

        <div class="heading-box">
            <h1 class="heading-primary">
                <span>{{tour?.name}}</span>
            </h1>
            <div class="heading-box__group">
                <div class="heading-box__detail">
                    <span class="heading-box__text">{{tour?.duration}} days </span>
                </div>
                <div class="heading-box__detail">
                    <span class="heading-box__text">{{tour?.startLocation?.description}}</span>
                </div>
            </div>
        </div>
    </section>

    <section class="section-description">
        <div class="overview-box">
            <div class="overview-box__group">
                <h2 class="heading-secondary ma-bt-lg">Quick information</h2>

                <div class="overview-box__detail">
                    <span class="overview-box__label">Upcoming tour date:</span>
                    <span class="overview-box__text"> {{tour?.startDates?.[0] | date }} </span>
                </div>
                <div class="overview-box__detail">
                    <span class="overview-box__label">Difficulty:</span>
                    <span class="overview-box__text"> {{tour?.difficulty}} </span>
                </div>
                <div class="overview-box__detail">
                    <span class="overview-box__label">Group Size:</span>
                    <span class="overview-box__text"> {{tour?.maxGroupSize}} people</span>
                </div>
                <div class="overview-box__detail">
                    <span class="overview-box__label">Duration:</span>
                    <span class="overview-box__text"> {{tour?.duration}} days</span>
                </div>
                <div class="overview-box__detail">
                    <span class="overview-box__label">Rating:</span>
                    <span class="overview-box__text"> {{tour?.ratingAverage}} / 5</span>
                </div>
                <!-- - const date = tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'}) -->
            </div>

            <!-- <div class="overview-box__group">
                <h2 class="heading-secondary ma-bt-lg">Your tour guides</h2> -->
            <!-- each guide in tour.guides -->
            <!-- <div class="overview-box__detail"> -->
            <!-- img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`) -->
            <!-- - if (guide.role === 'lead-guide') -->
            <!-- <span class="overview-box__label">Lead guide:</span> -->
            <!-- - if (guide.role === 'guide') -->
            <!-- <span class="overview-box__label">Tour guide:</span> -->
            <!-- <span class="overview-box__text"> {{tour?.guides?.name}} </span> -->
            <!-- </div>
            </div> -->
        </div>

        <div class="description-box">
            <h2 class="heading-secondary ma-bt-lg">About {{tour?.name}} tour</h2>
            <p class="description__text">{{tour?.description}}</p>
        </div>
    </section>

    <section class="section-pictures">
        <!-- each img, i in tour.images -->
        <div class="picture-box">
            <img class="picture-box__img" src="" alt="" class="">
        </div>
    </section>

    <section class="section-map">
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
    </section>

    <section class="section-reviews">
        <div class="reviews">
            <ng-container *ngFor="let review of tour?.reviews; let i = index">
                <div class="reviews__card">
                    <div class="reviews__avatar">
                        <!-- <img class="reviews__avatar-img" src="{{review.user.photo}}" alt="{{review.user.fullName}}"> -->
                        <h6 class="reviews__user">{{review?.user?.fullName}}</h6>
                    </div>
                    <div class="reviews__text">{{review?.review}}</div>
                    <div class="reviews__rating">
                        <p>{{review.rating}} stars</p>
                        <!-- each star in [1, 2, 3, 4, 5]
                    svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`) -->
                    </div>
                </div>
            </ng-container>
        </div>
    </section>

    <section class="section-cta">
        <div class="cta">
            <div class="cta__img cta__img--logo">
                <!-- <img src="" alt=""> -->
                <p>Nature's tours</p>
            </div>
            <!-- <img class="cta__img cta__img--1" src="" alt="">
            <img class="cta__img.cta__img--2" src="" alt=""> -->
            <div class="cta__content">
                <h2 class="heading-secondary">What are you waiting for?</h2>
                <p class="cta__text">{{tour?.duration}} days. 1 adventure. Infinite memories. Make it yours today!</p>
                <button class="btn btn--rose">Create memories now!</button>
            </div>
        </div>
    </section>

</main>