<main class="main">
    <section class="container container--login">

        <div class="general-form">
            <h2 class="heading-secondary">Log into your account</h2>

            <form class="form form--login" #loginForm="ngForm" (ngSubmit)="handleFormSubmit(loginForm)">
                <div class="form__group">

                    <label for="email" class="form__label">Email</label>
                    <input type="email" id="email" class="form__input" name="email" #emailData="ngModel" ngModel email [appEmailValidatorDirective]="['bg', 'com']" required>

                    <!-- {{emailData.errors | json}} -->
                    <ng-container *ngIf="emailData.touched">
                        <div *ngIf="emailData.errors?.['required']">Email is required</div>
                        <div *ngIf="emailData.errors?.['emailValidator']">Invalid email</div>
                    </ng-container>
                    

                </div>
                <div class="form__group">

                    <label for="password" class="form__label">Password</label>
                    <input type="password" id="password" class="form__input" name="password" ngModel #passwordData="ngModel" [minlength]="5" required>

                    <ng-container *ngIf="passwordData.touched">
                        <div *ngIf="passwordData.errors?.['required']">Password is required</div>
                        <div *ngIf="passwordData.errors?.['minlength']">Password must be at least 5 characters long</div>
                    </ng-container>

                </div>
                <div class="form__group">
                    <button class="btn btn--green" [disabled]="loginForm.invalid">Login</button>
                </div>

                <p>Don't have an account?<a routerLink="/auth/register">Register</a></p>
            </form>

        </div>

    </section>
</main>