<main>

        <div class="form-container">
            <form class="login" #formLogin="ngForm" (ngSubmit)="loginHandler(formLogin)">

                    <h2>Login Form</h2>

                    <!-- EMAIL -->
                    <p class="field">
                        <label for="email">Email</label>
                        <input class="input-error" type="email" #emailInput="ngModel" ngModel name="email" id="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    </p>
                    <!-- EMAIL ERRORS -->
                    <ng-container *ngIf="(emailInput.invalid && emailInput.touched) || emailInput.dirty">
                    <p class="error" *ngIf="emailInput.errors?.['required']">
                        Email is required!
                    </p>
                    <p class="error" *ngIf="emailInput.errors?.['pattern']">
                        Email is invalid!
                    </p>
                </ng-container>

                    <!-- PASSWORD -->
                    <p class="field field-icon">
                        <label for="password">Password</label>
                        <input type="password" #passwordInput="ngModel" ngModel [minlength]="8" name="password" id="password" required>
                    </p>
                    <!-- PASSWORD ERRORS -->
                    <ng-container *ngIf="(passwordInput.invalid && passwordInput.touched) || passwordInput.dirty">
                    <p class="error" *ngIf="passwordInput.errors?.['required']">
                        Password is required!
                    </p>
                    <p class="error" *ngIf="passwordInput.errors?.['minlength']">
                        Password must be at least 8 characters!
                    </p>
                </ng-container>

                    <button class="btn btn--white" [disabled]="formLogin.invalid">Login</button>

                    <p class="text-center">You want an account? <a routerLink="/auth/register" class="btn--nutral">Register</a></p>

            </form>
        </div>

</main>