@import "../../styles/form-componant.scss";
@import "../../styles/componants.scss";

.form-container {
    background-color: $color-white;
    width: 50%;
    margin: auto;
    padding: 8rem;
    border-radius: 5rem;
}

.form {
    background-color: $color-light-grey;
    text-align: center;

    border-radius: 0.3em;
    padding: 4rem 5em;

    &__field-group {
        // padding-bottom: 0;
        padding-top: 1.5rem;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__field-label {
        text-align: left;
    }

    &__field-input {
        flex: 0 1 100%;
        border: none;
        padding: 0.5em;
        border-radius: 0.3rem;
    }

    &__field-file-input {
        display: none;
    }

    &____field-file-upload {
    }

    &__field-error {
        padding-bottom: 0;
        padding-top: 1.5rem;

        text-align: left;
        border-radius: 0.3em;
        color: $color-error;
        padding-top: 0;
    }

    &__paragraph {
        margin-top: 2rem;
    }
}

.btn {
    width: 31%;
    margin: 1rem auto 0 auto;
}