$color-dark-gray: #323232;
$color-light-grey: #f8f8f8;

.tours {
    display: grid;
    grid-template-rows: repeat(1, minmax(auto-fit, min-content));
    grid-template-columns: repeat(auto-fit, minmax(35rem, min-content));
    grid-gap: 4rem;
    justify-content: center;
}