<main>

    <div class="form-container">
        <form class="login">

            <h2>Register Form</h2>

            <p class="field">
                <label for="name">Name</label>
                <input class="input-error" type="name" name="name" id="name">
            </p>
            <p class="error">
                Name is required!
            </p>
            <p class="error">
                Name should be at least 2 characters long
            </p>

            <p class="field">
                <label for="email">Email</label>
                <input class="input-error" type="email" name="email" id="email">
            </p>
            <p class="error">
                Email is required!
            </p>
            <p class="error">
                Email is invalid!
            </p>

            <p class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </p>
            <p class="error">
                Password is required!
            </p>
            <p class="error">
                Password must be at least 8 characters!
            </p>

            <p class="field">
                <label for="rePassword">Repassword</label>
                <input type="rePassword" name="rePassword" id="rePassword">
            </p>
            <p class="error">
                Passwords don't match!
            </p>

            <button class="btn btn--white">Register</button>

            <p class="text-center">Already a user? <a routerLink="/auth/login" class="btn--nutral">Login</a></p>

        </form>
    </div>

</main>