<main>

    <div class="form-container">
        <form class="form" [formGroup]="tourForm" (ngSubmit)="tourHandler()">

            <h2 *ngIf="!tour">Create a Tour</h2>
            <h2 *ngIf="tour">Edit Tour</h2>

            <p>{{tour | json}}</p>

            <div class="form-flex">
                <div class="form-flex__upper">
                    <!-- NAME -->
                    <p class="form__field-group">
                        <label class="form__field-label" for="name">Name</label>
                        <input class="form__field-input" type="text" formControlName="name" id="name" required>
                    </p>
                    <ng-container
                        *ngIf="(tourForm.get('name')?.invalid && tourForm.get('name')?.touched) || tourForm.get('name')?.dirty">
                        <p class="form__field-error" *ngIf="tourForm.get('name')?.errors?.['required']">
                            Name is required!
                        </p>
                        <p class="form__field-error" *ngIf="tourForm.get('name')?.errors?.['minlength']">
                            Name should be at least 2 characters long
                        </p>
                    </ng-container>

                    <!-- DESCRIPTION -->
                    <p class="form__field-group">
                        <label class="form__field-label" for="description">Description</label>
                        <textarea class="form__field-input" id="description" formControlName="description"
                            required></textarea>
                    </p>
                    <ng-container
                        *ngIf="(tourForm.get('description')?.invalid && tourForm.get('description')?.touched)">
                        <p class="form__field-error" *ngIf="tourForm.get('description')?.errors?.['required']">
                            Description is required!
                        </p>
                        <p class="form__field-error" *ngIf="tourForm.get('description')?.errors?.['minlength']">
                            Description should be at least 20 characters long
                        </p>
                    </ng-container>

                    <!-- DURATION -->
                    <p class="form__field-group">
                        <label class="form__field-label" for="duration">Duration</label>
                        <input class="form__field-input" type="text" formControlName="duration" id="duration" required>
                    </p>
                    <ng-container *ngIf="(tourForm.get('duration')?.invalid && tourForm.get('duration')?.touched)">
                        <p class="form__field-error" *ngIf="tourForm.get('duration')?.errors?.['required']">
                            Duration is required!
                        </p>
                        <p class="form__field-error" *ngIf="tourForm.get('duration')?.errors?.['minlength']">
                            Duration should be a valid number
                        </p>
                    </ng-container>

                    <!-- SUMMARY -->
                    <p class="form__field-group">
                        <label class="form__field-label" for="summary">Summary</label>
                        <textarea class="form__field-input" id="summary" formControlName="summary" required></textarea>
                    </p>
                    <ng-container *ngIf="(tourForm.get('summary')?.invalid && tourForm.get('summary')?.touched)">
                        <p class="form__field-error" *ngIf="tourForm.get('summary')?.errors?.['required']">
                            Summary is required!
                        </p>
                        <p class="form__field-error" *ngIf="tourForm.get('summary')?.errors?.['minlength']">
                            Summary should be at least 15 characters long
                        </p>
                    </ng-container>

                    <!-- DIFFICULTY -->
                    <p class="form__field-group">
                        <label class="form__field-label" for="difficulty">Difficulty</label>
                        <select formControlName="difficulty" id="difficulty" class="form__field-input" required>
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="difficult">Difficult</option>
                        </select>
                    </p>
                    <ng-container *ngIf="(tourForm.get('difficulty')?.invalid && tourForm.get('difficulty')?.touched)">
                        <p class="form__field-error" *ngIf="tourForm.get('difficulty')?.errors?.['required']">
                            Difficulty is required!
                        </p>
                    </ng-container>

                    <!-- PRICE -->
                    <p class="form__field-group">
                        <label class="form__field-label" for="price">Price</label>
                        <input class="form__field-input" type="text" formControlName="price" id="price" required>
                    </p>
                    <ng-container *ngIf="(tourForm.get('price')?.invalid && tourForm.get('price')?.touched)">
                        <p class="form__field-error" *ngIf="tourForm.get('price')?.errors?.['required']">
                            Price is required!
                        </p>
                        <!-- to do error -->
                        <p class="form__field-error" *ngIf="tourForm.get('price')?.errors?.['minlength']">
                            Price should be a valid number
                        </p>
                    </ng-container>

                    <!-- PRICE DISCOUNT -->
                    <p class="form__field-group">
                        <label class="form__field-label" for="priceDiscount">Price discount</label>
                        <input class="form__field-input" type="text" formControlName="priceDiscount" id="priceDiscount">
                    </p>
                    <ng-container
                        *ngIf="(tourForm.get('priceDiscount')?.invalid && tourForm.get('priceDiscount')?.touched)">
                        <!-- <p class="form__field-error" *ngIf="tourForm.get('priceDiscount')?.errors?.['required']">
                            Price discount is required!
                        </p> -->
                        <!-- to do error -->
                        <p class="form__field-error" *ngIf="tourForm.get('priceDiscount')?.errors?.['minlength']">
                            Price discount should be a valid number
                        </p>
                    </ng-container>

                    <!-- MAX GROUP SIZE -->
                    <p class="form__field-group">
                        <label class="form__field-label" for="maxGroupSize">Max group size</label>
                        <input class="form__field-input" type="text" formControlName="maxGroupSize" id="maxGroupSize"
                            required>
                    </p>
                    <ng-container
                        *ngIf="(tourForm.get('maxGroupSize')?.invalid && tourForm.get('maxGroupSize')?.touched)">
                        <p class="form__field-error" *ngIf="tourForm.get('maxGroupSize')?.errors?.['required']">
                            Max group size is required!
                        </p>
                        <!-- to do error -->
                        <p class="form__field-error" *ngIf="tourForm.get('maxGroupSize')?.errors?.['minlength']">
                            Max group size should be a valid number
                        </p>
                    </ng-container>

                    <!-- FILE UPLOADER -->
                    <div class="form__field-group">
                        <app-file-uploader></app-file-uploader>
                    </div>
                </div>

                <div class="form-flex__lower">
                    <!-- START LOCATION -->
                    <!-- nested form group -->
                    <div class="form-flex__lower--start-location">
                        <ng-container formGroupName="startLocation">
                            <h4 class="form-group-align form-group-align--start-location">Start location</h4>
                            <!-- COORDINATES -->
                            <p class="form__field-group">
                                <label class="form__field-label" for="coordinates">Coordinates</label>
                                <input class="form__field-input" type="text" formControlName="coordinates"
                                    id="coordinates" required>
                            </p>
                            <ng-container
                                *ngIf="tourForm.get('startLocation')?.get('coordinates')?.invalid && tourForm.get('startLocation')?.get('coordinates')?.touched">
                                <p class="form__field-error"
                                    *ngIf="tourForm.get('startLocation')?.get('coordinates')?.errors?.['required']">
                                    Coordinates is required!
                                </p>
                                <p class="form__field-error"
                                    *ngIf="tourForm.get('startLocation')?.get('coordinates')?.errors?.['minlength']">
                                    Coordinates should have valid numbers.
                                </p>
                            </ng-container>


                            <!-- ADDRESS -->
                            <p class="form__field-group">
                                <label class="form__field-label" for="address">Address</label>
                                <input class="form__field-input" type="text" formControlName="address" id="address"
                                    required>
                            </p>
                            <ng-container
                                *ngIf="(tourForm.get('address')?.invalid && tourForm.get('address')?.touched)">
                                <p class="form__field-error" *ngIf="tourForm.get('address')?.errors?.['required']">
                                    Address is required!
                                </p>
                            </ng-container>


                            <!-- DESCRIPTION -->
                            <p class="form__field-group">
                                <label class="form__field-label" for="description">Name</label>
                                <input class="form__field-input" type="text" formControlName="description"
                                    id="description" required>
                            </p>
                            <ng-container
                                *ngIf="(tourForm.get('description')?.invalid && tourForm.get('description')?.touched)">
                                <p class="form__field-error" *ngIf="tourForm.get('description')?.errors?.['required']">
                                    Description is required!
                                </p>
                            </ng-container>
                        </ng-container>
                    </div>

                    <div class="form-flex__lower--add-location">
                        <h4 class="form-group-align form-group-align--location">Add location</h4>
                        <div class="form-group-align__array">
                            <ng-container formArrayName="locations">
                                <ng-container *ngFor="let locationForm of locations.controls; let i = index">
                                    <div class="form-group-align__element" [formGroupName]="i">
                                        <p class="form__field-group">
                                            <label class="form__field-label" for="coordinates">Coordinates</label>
                                            <input class="form__field-input" type="text" formControlName="coordinates"
                                                id="coordinates" required>
                                        </p>
                                        <p class="form__field-group">
                                            <label class="form__field-label" for="address">Address</label>
                                            <input class="form__field-input" type="text" formControlName="address"
                                                id="address" required>
                                        </p>
                                        <p class="form__field-group">
                                            <label class="form__field-label" for="description">Name</label>
                                            <input class="form__field-input" type="text" formControlName="description"
                                                id="description" required>
                                        </p>
                                        <p class="btn btn--delete" (click)="deleteLocation(i)">-</p>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <a class="btn btn--create" (click)="addLocation()">+</a>
                        </div>
                    </div>

                    <div class="form-flex__lower--add-role">
                        <h4 class="form-group-align form-group-align--start-guide">Add guide</h4>
                        <div class="form-group-align__array">
                            <ng-container formArrayName="guides">
                                <ng-container *ngFor="let guideForm of guides.controls; let i = index">
                                    <div class="form-group-align__element" [formGroupName]="i">
                                        <p class="form__field-group">
                                            <label class="form__field-label" for="nameguide">Name</label>
                                            <input class="form__field-input" type="text" formControlName="name"
                                                id="nameguide" required>
                                        </p>
                                        <p class="form__field-group">
                                            <label class="form__field-label" for="role">Role</label>
                                            <select class="form__field-input" formControlName="role" id="role">
                                                <option value="lead guide">Lead guide</option>
                                                <option value="guide">Guide</option>
                                            </select>
                                        </p>

                                        <p class="btn btn--delete" (click)="deleteGuide(i)">-</p>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <a class="btn btn--create" (click)="addGuide()">+</a>

                        </div>
                    </div>

                    <!-- {{ tourForm.value | json }} -->
                    <!-- {{ tourForm.errors | json }} -->
                    <!-- {{ tourForm.get('pass')?.errors | json }} -->
                </div>
            </div>
            <button *ngIf="!tour" class="btn btn--white" [disabled]="tourForm.invalid" type="submit">Create
                Tour</button>
            <button *ngIf="tour" class="btn btn--white" [disabled]="tourForm.invalid" type="submit">Edit Tour</button>
        </form>
    </div>

</main>