@import "../../styles/form-componant.scss";

.form-container {
    width: 75%;
}

#difficulty {
    background-color: white;
}
#role {
    background-color: white;
}

.form-flex {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    margin-top: 4rem;
}

.form-upper {
    flex: 1;
}

.form-lower {
    flex: 1;
}

.form-group-align {
    text-align: left;
    margin-top: 1.5rem;

    &__array {
        margin-top: 2rem;
    }

    &__element {
        width: 80%;
        margin: 2rem auto 0 auto;
    }
}

.btn {

    width: 35%;

    &--create {
        background-image: linear-gradient(to right bottom, rgba($color-golden, .15), $color-white);
        // background-color: $color-light-white;
        color: inherit;
        border-radius: 5rem;
        width: 15%;
        margin: 2rem auto 0 auto;
    }

    &--delete {
        background-color: $color-white;
        color: inherit;
        border-radius: 5rem;
        width: 19%;
        margin: 2rem auto 0 auto;
    }
}