<div class="card">
    <div class="card__side card__side--front">
        <!-- <div class="card__picture card__picture">&nbsp</div> -->
        <h4 class="card__heading">
            <span class="card__heading-span">The Cool Bronze plan</span>
        </h4>
        <div class="card__details">
            <ul class="card__details--list">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div>
    </div>
</div>