.footer {
    background-color: #5c5c5c;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #f4f4f4;
    text-align: center;
  
    &__logo-box{
      margin-bottom: 1.5rem;
    }
    
    &__logo{
      font-size: 1.6rem;
      text-transform: uppercase;
    }
    
    &__list{
      list-style: none;
    }

    &__item{
      display: inline-block;
  
      &:not(:last-child){
        margin-right: 1.5rem;
      }
    }
    
    &__copyright {
      opacity: 0.8;
      font-size: 1rem;
    }
  
    &__copy {
      color: gold;
      text-transform: uppercase;
      display: inline-block;
    }
  }