$color-dark-gray: #323232;
$color-light-white: #fafafa;
$color-medium-gray: #a4a4a4;

.footer {
    background-color: $color-dark-gray;
    padding: 1rem 0;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    font-size: 1.4rem;
    color: $color-light-white;
    text-align: center;
    // flex: 1;
  
    &__logo-box{
      margin-bottom: 1.5rem;
    }
    
    &__logo{
      font-size: 1.6rem;
      text-transform: uppercase;
    }
    
    &__list{
      list-style: none;
    }

    &__item{
      display: inline-block;
  
      &:not(:last-child){
        margin-right: 1.5rem;
      }
    }
    
    &__copyright {
      opacity: 0.8;
      font-size: 1rem;
    }

    &__weblink {
      color: $color-medium-gray;
      text-transform: uppercase;
      display: inline-block;
      text-decoration: none;
    }
  }