<footer class="footer">
    <div class="footer__logo-box">
        <p class="footer__logo">The breathtaking natours</p>
    </div>

    <div class="container footer__flex">
        <ul class="footer__list">
            <div class="footer__item"><a class="footer__link">About us</a></div>
            <div class="footer__item"><a class="footer__link">Contact</a></div>
        </ul>

        <div class="footer__navigation">
            <p class="footer__copyright">Built by <span class="footer__copy">Krasy Nova</span> Angular final porject</p>
        </div>
    </div>

</footer>