<main class="main">

    <section class="container container--tour">

        <div class="general-form">
            <h2 class="heading-secondary">Create a new tour</h2>

            <form action="" class="form form--tour">
                <div class="form__group">
                    <label for="tourName" class="form__label">Tour name</label>
                    <input type="text" id="tourName" class="form__input" placeholder="My adventure" required>
                </div>
                <div class="form__group">
                    <label for="description" class="form__label">Description</label>
                    <input type="text" id="description" class="form__input" placeholder="This will be a..." required>
                </div>
                <div class="form__group">
                    <label for="duration" class="form__label">Duration</label>
                    <input type="text" id="duration" class="form__input" placeholder="5" required>
                </div>
                <div class="form__group">
                    <label for="summary" class="form__label">Summary</label>
                    <input type="text" id="summary" class="form__input" placeholder="..." required>
                </div>
                <div class="form__group">
                    <!-- difficulty - select tag - easy, medium, difficult -->
                </div>
                <div class="form__group">
                    <label for="price" class="form__label">Price</label>
                    <input type="text" id="price" class="form__input" placeholder="465.45" required>
                </div>
                <div class="form__group">
                    <label for="priceDiscount" class="form__label">Price discount</label>
                    <input type="text" id="priceDiscount" class="form__input" placeholder="-10%" required>
                </div>
                <div class="form__group">
                    <label for="maxGroupSize" class="form__label">Maximum Group Size</label>
                    <input type="text" id="maxGroupSize" class="form__input" placeholder="12" required>
                </div>
                <div class="form__group">
                    <input type="file" id="imageCovor" class="form__input" required>
                </div>
                <!-- <div class="form__group">
                    <input type="file" id="images" class="form__input" required>
                </div> -->
                <div class="form__group">
                    <!-- starting dates of the tour - array of strings - multiple dates selections -->
                </div>
                <div class="form__group">
                    <!-- starting location -->
                    <!-- name of location -->
                    <!-- coordinates - array of coords -->
                    <!-- address -->
                    <!-- description -->
                </div>
                <div class="form__group">
                    <!-- locations -->
                    <!-- array of locations -->
                    <!-- name of location -->
                    <!-- coordinates - array of coords -->
                    <!-- address -->
                    <!-- description -->
                </div>
                <div class="form__group">
                    <label for="guides" class="form__label">Guides</label>
                    <input type="text" id="guides" class="form__input" placeholder="guides' names" required>
                </div>
                
                <div class="form__group">
                    <button class="btn btn--green">Add tour</button>
                </div>
            </form>

        </div>

    </section>

</main>