<header class="header">

    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>All tours</a></li>
            <div class="navigation__logo--box">
                <li class="navigation__item navigation__item--logo"><a class="navigation__link">The breathtaking natours</a></li>
            </div>
                <!-- if is a guest -->
            <div class="navigation__items">
                <!-- <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>Login</a></li>
                <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>Register</a></li> -->
                <!-- if there is a user -->
                <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>Add tour</a></li>
                <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>Profile</a></li>
                <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>Logout</a></li>
            </div>
        </ul>
    </nav>

</header>