.header {
    background-color:#5c5c5c;
    padding: 1.5rem 2rem;
}

.navigation {

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        gap: 1rem;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }
}