$color-dark-gray: #323232;
$color-light-white: #fafafa;

.header {
    background-color: $color-dark-gray;
    padding: 1.5rem 2rem;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

.navigation {

    color: $color-light-white;

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__items {
        display: flex;
        gap: 2rem;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        font-weight: 200;
        font-size: 1.2rem;

        &--logo {
            font-size: 2rem;
        }
    }
}