<header class="header">
    <div class="header__logo-box">
        <p class="header__logo">The breathtaking natours</p>
    </div>

    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>Home</a></li>
            <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>All tours</a></li>
            <!-- if is a guest -->
            <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>Login</a></li>
            <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>Register</a></li>
            <!-- if there is a user -->
            <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>Create tour</a></li>
            <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>Profile</a></li>
            <li class="navigation__item"><a class="navigation__link"><span class="navigation__span"></span>Logout</a></li>
        </ul>
    </nav>

</header>