<header class="header">

    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item"><a routerLink="/tour" class="navigation__link">All tours</a></li>
            <div class="navigation__logo--box">
                <li class="navigation__item"><a routerLink="/" class="navigation__link navigation__link--logo">Nature's tours</a></li>
            </div>
                
            <div class="navigation__items">
                <ng-container>
                    <li class="navigation__item"><a routerLink="/auth/login" class="navigation__link">Login</a></li>
                    <li class="navigation__item"><a routerLink="/auth/register" class="navigation__link">Register</a></li>
                </ng-container>
                <ng-container>
                    <li class="navigation__item"><a routerLink="/tour/create" class="navigation__link">Add tours</a></li>
                    <li class="navigation__item"><a routerLink="/auth/profile" class="navigation__link">user's profile</a></li>
                    <li class="navigation__item"><a routerLink="/auth/logout" class="navigation__link">Logout</a></li>
                </ng-container>
            </div>
        </ul>
    </nav>

</header>