<div class="card">

    <div class="card__header">
        <div class="card__picture">
            <div class="card__picture-overlay">&nbsp;</div>
            <img class="card__picture-img" src="/assets/images/{{tour.imageCover}}" alt="{{tour.name}}">
        </div>
        <h4 class="card__heading">
            <span class="card__heading-span">{{tour.name}}</span>
        </h4>
    </div>

    <div class="card__details">
        <ul class="card__details--list">
            <li class="card__details--list-item">Price: {{tour.price}}</li>
            <li class="card__details--list-item">Max group size: {{tour.maxGroupSize}}</li>
            <li class="card__details--list-item">Difficulty: {{tour.difficulty}}</li>
        </ul>
    </div>

    <a routerLink="/tour/{{tour.slug}}" class="btn btn--tour">Tour details</a>
    <!-- <a [routerLink]="['/tour', tour.slug]" class="btn btn--tour">Tour details</a> -->

</div>