/* You can add global styles to this file, and also import other style files */
@import './app/modal/modal/modal-animations.scss';

$color-light-grey: #f8f8f8;
$color-dark-gray: #323232;
$color-light-white: #fafafa;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
    height: 100%;

    display: flex;
    flex-direction: column;
    
    line-height: 1.3;
    font-weight: 300;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    color: $color-dark-gray;
    padding: 2rem;
}

main {
  background-color: $color-light-grey;
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

