/* You can add global styles to this file, and also import other style files */

$color-dark-gray: #323232;
$color-light-white: #fafafa;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    // position: relative;
    min-height: 100vh;
    
    line-height: 1.6;
    font-weight: 300;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    color: $color-dark-gray;
    padding: 2rem;
}


// .heading-primary {
//   font-size: 3rem;
// }

// .heading-secondary {
//   font-size: 2.3rem;
// }