/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-weight: 300;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    color: #555555;
    padding: 3rem;
    min-height: 100vh;
}

.main {
  background-color: #fafafa;
}

// typography file .scss
.heading-primary {
  font-size: 2.5rem;
}

.heading-secondary {
  font-size: 2rem;
}

.container {

  &--login, &--register {
    width: 50%;
    border-radius: 2rem;
    padding: 3rem;
  }

}

// componants
.btn {

  &--green {}
  
}